.layout-2-1 {
  margin-bottom: 60px;
}
.layout-2-1-main {
  border-bottom: 1px solid #d2d2d2;
}
.layout-2-1-sidebar {
  margin-top: 0;
}

.article-header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.global-news-heading-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}
.global-news-source-time {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #5e5f61;
}

.article-header {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  margin-bottom: 20px;
}
.article-img {
  width: 797px;
  height: 300px;
  border-radius: 13px;
  margin: 0;
  margin-bottom: 25px;
}
.article-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 50px;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.article-card-footer {
  margin-top: auto;
}