/* Global */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #4a4b4c;
  background-color: #fff;
}


/* Outline-styles */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* Button */
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button-primary {
  background-color: #7296ec;
  color: #fff;
}
.button-primary:hover {
  background-color: #7296ec;
  color: #fff;
  opacity: 0.8;
  
}
.button-primary:active {
  background-color: #fff;
  color: #7296ec;
}

/* Container */
.container {
  width: 100%;
  max-width: 1260px;
  padding: 0px 30px;
  margin: 0 auto;
}

/* Header */

/* Site-header-top */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  display: flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}

.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959ce;
}

/* Global-search-form */
.global-search-form{
  margin-right: 25px;
  border-radius: 60px;
  background-color: #fff;
}

.global-search-form-input {
  width: 275px;
  border-radius: 50px;
  font-size: 14px;
  border: 0;
  padding-top: 15px;
  padding-left: 41px;
  padding-bottom: 13px;
  font-weight: normal;
  color: #8d8d8d;
  line-height: 17px;
  background-size: 20px;
  background-image: url('../img/search.svg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

/* Lang-toggle */
.lang-toggle {
  display: flex;
  justify-content: space-between;
  width: 70px;
  padding: 3px;
  border-radius: 39px;
  background-color: #dce6ff;
  margin-right: 25px;
}
.lang-toggle-link {
  width: 30px;
  height: 30px;
  font-size: 13px;
  border-radius: 50%;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}
.lang-toggle-active {
  color: #000;
  background-color: #fff;
}

/* Sitenav */
.sitenav {
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  padding: 12px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item{
  margin: 4px 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 34.44px;
}

.sitenav-link {
  display: block;
  color: #7f7f7f;
  text-decoration: none;
}
.sitenav-link:hover {
  color: #7296ec;
}

.sitenav-link:active {
  opacity: 0.6;
}
/* Site-header-banner */

.site-header-banner-link {
  display: flex;
  margin-bottom: 50px;
}

/* MAIN */
.main-content {
  flex-grow: 1;
  margin-bottom: 100px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.news-grid-item {
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 393px;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}
.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.article-card-link:hover {
  color: #7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  display: block;
  width: 360px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items: center;
}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;
}


.main-belt-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  height: 100px;
  margin: 60px auto;
  border-radius: 10px;
  background-color: #ffd7ba;
}

.belt-text {
  width: 404px;
  margin: 0;
  margin-left: 29px;
}

.belt-button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  background-color: #f78b3b;
  padding: 13px 30px;
  border-radius: 10px;
  margin-right: 71px;
}

.main-bottom-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-grow: 1;
}

.main-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.main-header {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.main-bottom-news-section {
  margin: 0;
  padding: 0;
}

.sidebar-title {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 28.44px;
  margin: 0px 0px 20px;
}

.main-bottom-news {
  width: 797px;
  border-radius: 15px;
  background-color: #f6f6f6;
  list-style: none;
  margin-bottom: 10px;
}

.main-bottom-news-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 17px;
}

.main-bottom-img {
  display: block;
  border-radius: 10px;
  width: 210px;
  height: 165px;
  margin: 0 15px 0 0;
  object-fit: cover;
}

.main-bottom-content {
  color: #000;
}

.main-bottom-content-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.main-bottom-content-text {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 17px 0;
}

.main-bottom-content-bottom {
  margin: 0;
}

.sidebar {
  width: 393px;
  margin: 0px 0px 0px 10px;
}

.sidebar-news {
  padding: 20px 17px 24px;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin: 0 0 10px 0;
}

.sidebar-content {
  padding: 0;
  margin: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  margin: 0;
}

.sidebar-content:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin: 0 0 20px;
  padding: 0 0 20px;
  
}

.sidebar-content-title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto 7px;
}

.sidebar-content-text {
  color: #5e5f61;
  font-size: 13px;
  line-height: 15.41px;
  font-weight: 400;
}

.sidebar-content-text:not(:last-child) {
  margin: 0 0 25px 0;
}

.sidebar-reklama-img {
  width: 393px;
  height: 338px;
  border-radius: 15px;
}

.site-footer {
  width: 100%;
  min-width: 1200px;
  color: #fff;
  background-color: #7297EF;
}

.footer-logo {
  width: 262px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.footer-content {
  padding: 40px 100px ;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
}

.footer-title {
  width: 229px;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin: 0 203px 71px 0;
}

.footer-right {
  display: flex;
  flex-direction: row;
}

.site-footer-list {
  margin-bottom: 30px;
}

.site-footer-list:not(:last-child) {
  margin-bottom: 20px;
}

.site-footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 75px;
}

.site-footer-links:not(:last-child) {
  margin-right: 100px;
}

.site-footer-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-title {
  width: 161px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.footer-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-list:not(:last-child) {
  margin-right: 25px;
}

.footer-icon {
  width: 25px;
  height: 25px;
}